.loginPage{
    background: url('asset/img/sukacover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm{
    background-color: #0d3353;
    color: white;
}

ul li :hover {
    background-color: gray;
}

.employee_image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.employee2_image{
    width:154px;
    height: 80px;
    border-radius: 50%;
}
.image-container {
    background-color: lavender; /* Change to desired background color */
    padding: 20px; /* Adjust padding as needed */
    display: inline-block; /* Keeps the container's size close to the image size */
    border-radius: 50%; /* Makes the container circular */
    text-align: center; /* Centers the image inside the container */
    width: 120px; /* Set a fixed width */
    height:120px; /* Set a fixed height */
}

.image-container img {
    display: block; /* Prevents image from getting extra space underneath */
    border-radius: 50%; /* Makes the image itself circular */
    max-width: 100%; /* Ensures image doesn't overflow container */
    max-height: 100%; /* Ensures image doesn't overflow container */
}

.emp_det_image{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.hanu{
    background: url('asset/img/sukacover.jpg');
    background-size: 100%;
}



.page{
    background: url('asset/img/Welcome.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 80%;
}
.dts{
    background: url('asset/img/cool.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.drs{
    background: url('asset/img/Untitled design.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.login{
    background: url('asset/img/out.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.button2 {
    background: linear-gradient(to bottom right, #FF5733, #ff0080);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px 40px;
    margin: 10px;
    transition: transform 0.5s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}
.apj{
    background: url('asset/img/bos.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.pjp{
    background: url('asset/img/koi.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.kcd{
    background: url('asset/img/dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.plm{
    background: url('asset/img/plm.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.attendance-stats {
    display: flex;
    justify-content: space-around;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .stat-item {
    text-align: center;
    background: url('asset/img/timer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 50%;

}
  .attendance-table {
    background: #9cb1b0;
    border-radius: 5px;
    overflow: hidden;
  }
  .employee2_image{
    width: 218px;
    height: 98px;
    border-radius: 50%;
}
@media screen and (max-width:430px){

    .pos{
        display: none;
    }
    .alo{
       margin-left: -300px;
       margin-bottom: -200px;
    }
    .kng{
        display: none;
    }
}